<div class="sbar">
  <span id="sb1">{{if this.forge.img (concat "Imagen: " this.forge.imgW "×" this.forge.imgH "px") "Sin imagen"}}</span>
  <span id="sb2">Frames: {{this.forge.frames.length}}</span>
  <span id="sb3">Modo: {{this.modeLabel}}</span>
  <span id="sb4">Cursor: —</span>
  <span id="sb5"></span>
</div>
